version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: server/DeadPigeons.Api/Dockerfile
    environment:
      - ConnectionStrings__Default=Host=db;Database=deadpigeons;Username=postgres;Password=postgres
    depends_on:
      - db
    ports:
      - "8081:8080"

  client:
    build:
      context: ./client
    ports:
      - "5173:80"
    depends_on:
      - api

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: deadpigeons
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"

  nginx:
    image: nginx:alpine
    depends_on:
      - api
      - client
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./client/dist:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
