name: ci-dotnet

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install client dependencies
        run: npm ci
        working-directory: client

      - name: Lint client
        run: npm run lint
        working-directory: client

      - name: Build client
        run: npm run build
        working-directory: client

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore DeadPigeons.sln

      - name: Build
        run: dotnet build DeadPigeons.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test DeadPigeons.sln --no-build --verbosity normal
